<h2>List of Celebrities</h2>
<ul class="list">
    {{#each celebrities}}
    <h3><a href="/celebrities/{{this._id}}">{{this.name}}</a></h3>
    {{/each}}
</ul>

<a href="/celebrities/create">Add a New Celebrity</a> 

